@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@500&family=Roboto:wght@700&display=swap');

h1 {
    font-weight: normal;
    color: white;
}

div.info {
    margin: 12px 0;
}

div.info * {
    color: white;
}

#icons {
    display: none;
    filter: url(#drop-shadow);
}

.container {
    position: absolute;
    left: 1000px;
}

#vehicle {
    fill: white;
}

div.menuHolder {
    user-select: none;
    -moz-user-select: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
}

svg.icons {
    display: none;
    fill: black;
}

svg.menu {
    position: absolute;
    overflow: visible;
    transition: 0.1s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

svg.menu.inner {
    transform: scale(0.66) rotate(-10deg);
    opacity: 0;
    visibility: hidden;
}

svg.menu.outer {
    opacity: 0;
    visibility: hidden;
}

svg.menu > g > path {
    fill: rgb(23 23 23 / 80%);
}

svg.menu > g > path {
    fill-opacity: 0.8;
    fill: #1d232ce1;
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-dasharray: 0;
    filter: drop-shadow(2px 2px 15px rgba(255, 255, 255, 0.1));
    transition: all 0.2s ease;
}

svg.menu > g.sector > text,
svg.menu > g.sector > use {
    font-family: 'Cairo', sans-serif;
    margin-top: 5px;
    font-size: 4px;
    text-transform: uppercase;
    fill: rgba(0, 255, 206, 0.671);
    text-shadow: 0 0 1rem #00ffce;
}

svg.menu > g.sector:hover > text,
svg.menu > g.sector:hover > use {
    fill: rgb(255, 255, 255);
    text-shadow: 0 0 1rem #ffffff;
}

svg.menu > g.sector:hover > path {
    fill: rgba(0, 255, 206, 0.289);
    fill-opacity: 0.5;
    stroke: rgba(0, 255, 206, 0.4);
    stroke-width: 1;
    stroke-linecap: round; 
    filter: drop-shadow(0 0 0.5rem rgba(0, 255, 204, 0.404))
            drop-shadow(0 0 0.5rem rgba(3, 3, 3, 0.404))
            drop-shadow(0 0 0.5rem rgb(0, 255, 204, 0.404));
    stroke-dasharray: 0;
    cursor: pointer;
}

svg.menu > g.center:hover > circle {
    fill: rgba(198, 235, 235, 0.3);
    fill-opacity: 0.8;
    filter: drop-shadow(0 0 1px rgb(0, 255, 204, 0.404))
            drop-shadow(0 0 1px rgb(0, 255, 204, 0.404))
            drop-shadow(0 0 1px rgb(0, 255, 204, 0.404));
    cursor: pointer;
}

svg.menu > g.center > circle {
    fill: #1d202ce1;
    fill-opacity: 0.5;
    stroke: rgb(24, 124, 127 ,0.4);
}

svg.menu > g.center > text,
svg.menu > g.center > use {
    margin-top: 5px;
    font-size: 4px;
}